<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>createPlayer</title>
</head>
<body>
    <div id="createPlayerLogin">
        <h1 class="custom_large_main_menu_text">Create Player Profile</h1>
        <form action="/createPlayer" method="POST" onsubmit="return validatePassword()">
            <fieldset style="border: solid 1px black; padding: 10px;">
                <legend><h3>Create Account</h3></legend>

                <label for="username">Username: </label>
                <input type="text" id="username" name="username" required>
                <br><br>

                <label for="password">Password: </label>
                <input type="password" id="password" name="password" required>
                <br><br>

                <label for="confirmPassword">Confirm Password: </label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>
                <br><br>

                <button class="center_button" type="submit">Create!</button>
                <button class="center_button" type="reset">Reset</button>
                <button class="center_button" type="button" onclick="window.location.href='/'">Go Back</button>
            </fieldset>
        </form>
        <!-- If Username already taken. TODO could use styling -->
        <% if (typeof error !== 'undefined') { %>
            <p style="color: red; font-weight: bold;"><%= error %></p>
        <% } %>
    </div>
    
<script>
    function validatePassword() { 
        const pass = document.querySelector("#password").value;
        const confirm = document.querySelector("#confirmPassword").value;

        if (pass !== confirm) { 
            alert("Passwords do not match. Please try again!");
            return false;
        }
        return true;
     }
</script>
</body>
</html>