<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="open.css">
    <title>HomeScreen</title>
</head>
<body>
    <div>
        <h1>Welcome</h1>

        <form action="">

            <button id="createPlayer" type="button" onclick="window.location.href='createPlayer'">Create Player</button>

            <button id="returningPlayer" type="button" onclick="window.location.href='/returningPlayer'">Returning Player</button>
            
        </form>
        <blockquote>
            <h3>A strangers Advice</h3>
            <p><%= quote %></p> <!-- API PULL FOR QUOTE -->
        </blockquote>
    </div>
</body>
</html>