<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="open.css">
</head>
<body>
    <div id="returningPlayerLogin">
        <form action="/worldList" method="get">
        <legend style="border: solid 1px black"><h3>Log In</h1>
            <label for="username">Username: </label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Password: </label>
            <input type="password" id="password" name="password" required>

            <button class="center_button" type="submit">Log In</button>
            <button class="center_button" type="button" onclick="window.location.href='/'">Go Back</button>
        </legend>
        </form>
    </div>
    <div id="worldList"></div>
    
</body>
</html>
