<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> <%= player.username %>, select a world from the list: </h1>
    <%- wl %>
    <br><br>
    <form action="/play" method="POST">
                Create New World
                <input type = "text" name="worldname">
                <input type = "text" hidden name = "username" value ="<%= player.username %>">
                <input type = "text" hidden name="world" value="">
                <input type = "text" hidden name="newness" value="true">
                <br>
                <button type="submit"> Create World </button>
            </form>
</body>
</html>
