<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% for (const [name, world] of Object.entries(worlds)) { %>
        <div>
            <h3><%= name %></h3>
            <!-- can put some type of data here I j dk what,-->

            <form action="" method="POST">
                <input type="hidden" name="worldName" value="<%= name %>">
                <button type="submit"> Load World </button>
            </form>
        </div>
    <% } %> 
</body>
</html>