<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="open.css">
</head>
<body>
    <div id="returningPlayerLogin">
        <form action=""> <!-- ACTION and METHOD-->
        <legend><h1 class="custom_large_main_menu_text">Log in <|> -- User -- <|></h1> <!-- TODO What's this <|> User <|> stuff, ifs its meant ot be the users name, they haven't signed in yet-->
            <label for=""><p class="custom_main_menu_text">Username: <input type="text"></p></label>
            
            <label for=""><p class="custom_main_menu_text">Password: <input type="text"></p></label>

            <button class="center_button" type="submit">Log In</button>
            <button class="center_button" type="button" onclick="window.location.href='/'">Go Back</button>
        </legend>
        </form>
    </div>
    
</body>
</html>