<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="_____.css"> <!-- INSERT STYLE SHEET NAME -->
    <title>ReturningUser</title>
</head>
<body>
    <div>
        <form action=""> <!-- ACTION and METHOD-->
        <legend>User
            <label for="">Username:</label>
            <input type="text">

            <label for="">Password: </label>
            <input type="text">

            <button type="submit">Submit</button>
            <button type="reset">Clear</button>
        </legend>
            
            <button>A strangers wisdom</button>
        </form>
    </div>
    
</body>
</html>