<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="open.css">
</head>
<body>
    <div>
        <form action=""> <!-- ACTION and METHOD-->
        <legend><h1 class="custom_large_main_menu_text"> <|> -- User -- <|></h1>
            <label for=""><p class="custom_main_menu_text">Username: <input type="text"></p></label>
            
            <label for=""><p class="custom_main_menu_text">Password: <input type="text"></p></label>

            <button class="center_button" type="submit">Submit</button>
            <button class="center_button" type="reset">Clear</button>
        </legend>
        </form>
    </div>
    
</body>
</html>